<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="Site_Reliability_PublicPackages" value="https://pkgs.dev.azure.com/microsoftstudiosrare/d5b8fd13-bbb5-4b8e-97a2-da9b5e60a7ec/_packaging/Site_Reliability_PublicPackages/nuget/v3/index.json" />
  </packageSources>
</configuration>
